.navbar {
display: flex;

justify-content:space-around;
align-items: center;
height: 60px;
}


#responsive-navbar-nav{
  color: #FFFFFF;
}

.NavItemDiv{
    display: flex;
    align-items: center;
}


@media (max-width: 768px) {
  .NavItemDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
      flex-wrap: wrap;
  max-width: 100%;
  justify-content: flex-start;
}


  .NavItems { 
  text-align: center;
padding: 0 1rem;
  white-space: nowrap;
  font-weight: 600;
  font-size: 2.8vw;
   padding: 0 1vw;

}
}


.NavDiv {
  display: flex;
  flex-wrap: wrap;
}

.NavItems { 
  text-align: center;
  color: black;
padding: 0 1rem;
  white-space: nowrap;
  font-weight: 600;
    font-size: 2vw;
   padding: 0 1vw;
}

.navContainer{
    display: flex;
    justify-content: center;
}

#responsive-navbar-nav {
  justify-content: center;
}

.navIcons {
    display: flex;
}

.Buttons {
  display: flex;
}


.logo {
    border-radius: 18px;
    width: 80%;
    height: 80%;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropbtn {
background-color: rgba(179, 211, 233, 0.493);
color: black;
padding: 10px 20px;
border: none;
cursor: pointer;
}

.dropdown-content {
display: none;
position: absolute;
background-color: rgba(179, 211, 233, 0.493);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
background-color: black;
color: rgba(179, 211, 233, 0.493);
}

.dropdown:hover .dropdown-content {
display: block;
}

/* --------------------------------- Buttons -------------------------------- */

.ButtonContainer{
  display: flex;
}

.buttonlogin {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-right: 0.2rem;
}

.buttonlogin:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.buttonlogin:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

 @media (max-width: 768px) {
   .ButtonContainer {
     display: none;
   }
 }

 .Icons{
  width: 60px;
  font-size: large;
 }

